{% extends "layout.html" %}

{% block csslink %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/default.min.css">
{% endblock %}

{% block content %}

<!-- vars:
article: the article instance object w/ all the 
-->

<div class="article-header">
    <h1>{{article.title}}</h1>
    <div class="article-header-small-info">
        <p>Posted {{article.date_added}}</p>
    </div>
    <p>{{article.description}}</p>
    <img src="{{article.header_image}}" alt="">
</div>

<div class="article-content">
    <div class="article-math">
        <p>{{article.problem}}</p>
        <p>{{article.explaination_problem}}</p>
    </div>
    <div class="article-code">

    </div>
</div>

<div class="article-footer">
    <div class="article-author">
        <!-- <p>{{article.author}}</p> -->
        {% include "./components/author-avatar.html" with author=article.author %}
    </div>
</div>

<div class="article-comments">
    {% for comment in comments %}
    <!-- main comment towards the article -->
    <!-- {{comment}} -->
    {% include "./components/comment-widget.html" with replies=replies comment=comment replyForm=replyForm %}
    {% endfor %}
    <!-- {{request.user.id}} -->
    <form action="{% url 'postComment' %}" method="POST">
        {% csrf_token %}
        {{commentForm}}
        <input type="hidden" value="{{article.id}}" name="article">
        <input type="hidden" name="user" value="{{request.user.id}}">
        <input type="submit" value="Comment" name="submit">
        {% if form.errors %}
        {{form.errors}}
        {% endif %}
    </form>
</div>


{% endblock %}


{% block jslink %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script src="{% static 'js/code-formater-{{article.code_type}}.js' %}"></script>
{% endblock %}